*{
	margin:0;
	padding: 0;
}
body{
	overflow-x: hidden;
	background: url(../img/banner.jpg) no-repeat center center fixed;
	background-size: cover;
	color:#dedede;
}
@font-face{
	src: url(../fonts/nanumgothic.ttf);
	font-family: nanumgothic;
}
@font-face{
	src: url(../fonts/manjari.ttf);
	font-family: manjari;
}
header > a > img{
	position: absolute;
	width: 75px;
	right: 5vw;
	bottom: 5vh;
}
header{
	width: 100vw;
	height: 100vh;
	position: relative;
}
header > h1{
	font-family: nanumgothic;
	letter-spacing: 150px;
	font-size: 120px;
	color: white;
	text-align: center;
	height: max-content;
	padding-top: 35vh;
}
nav{
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	width: 100vw;
	height: 7vh;
}
ul{
	float: right;
	padding-right: 5vw;
}
li{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-family: nanumgothic;
	padding-top: 5px;
}
li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
}
#seasonsNav{
	display: none;
}

#main{
	background-color: #242424;
	opacity: 1;
	padding-bottom: 20px;
}

#seasonPicker{
	font-size: 24px;
	background:none;
	color:#dedede;
	border:none;
	border-bottom: 2px solid white;
}
.disabled{
	opacity: 0.2!important;
	cursor: default!important;
}
.capArrows{
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: gray!important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 360px;
	top:calc(50% - 46px);
	z-index: 2;
	user-select: none;
	cursor: pointer;
}
#capBack{
	left:2%;
}
#capNext{
 	right: 2%;
	text-align: center;
}

.capitulo:first-of-type{
	margin-left: 10%;
}


.caps{
	width:100vw;
	overflow-x: hidden;
	overflow-y: hidden;
	height:calc(550px + 10%);
	padding:5% 0;
	white-space: nowrap;
	position: relative;
}
.capSelected{
	width:550px!important;
	height:350px!important;
	left: 0!important;
	top:10%!important;
}
.capInfo{
	border-radius: 0 0 10px 10px;
	font-family: nanumgothic;
}
.capDesc{
	padding-top: 2%;
	white-space: pre-wrap;
	font-family: manjari;
}


.capitulo{
	display: inline-block;
	position: relative;
	width: 350px;
	height: 200px;
	border-radius: 10px;
	box-shadow: 3px 2px 4px black;
	margin: 0 2.5%;
}
.capitulo > img{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	z-index: 0;
}
.capInfo{
	z-index: 1;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	padding:3%;
	min-height: 50px;
	background-color: rgba(0,0,0,0.7);
}
.capDesc{
	display: none;
}


.actorContent{
	display: flex;
	flex-direction: row;
}
.actor{
	width: 5%;
	margin: 0 1%;
	padding: 2%;
	box-shadow: 1px 1px 7px gray;
}
footer{
	text-align: center;

}